src/**
test/**
node_modules/**
*.vsix
**/*.ts
**/*.map
.gitignore
tsconfig.json
webpack.config.js
vsc-extension-quickstart.md
test-*.md
test-*.js
test-samples/**
CONTRIBUTING.md
CHANGELOG.md
.git/**
.DS_Store
*.log